{% block content %}
    {# FIXED FOOTER. #}
    <footer class="footer bg-darkest">
    <div class="footer-header">
        <div>
            <h1 class="brand-title">AURO</h1>
            <p class="brand-subtitle">Feel the future.</p>
        </div>
    </div>
    <div class="footer-social-media">
        <ul class="social-media">
            <li class="social-media-item"><a href="#" class="social-media-link"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-media-item"><a href="#" class="social-media-link"><i class="fab fa-instagram"></i></a></li>
            <li class="social-media-item"><a href="#" class="social-media-link"><i class="fab fa-youtube"></i></a></li>
            <li class="social-media-item"><a href="#" class="social-media-link"><i class="fab fa-snapchat"></i></a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <p class="footer-copyright-paragraph">&copy; AURO // All rights reserved.</p>
    </div>
</footer>
{% endblock %}