@use "base" as *;

.products-wrapper {
  display: flex;
  height: 95vh;
  padding: 0 $padding-md;
  overflow: hidden;
}

// Filtermenu
.filter-menu {
  width: 25%;
  padding: $padding-md;
  background-color: $color-darkest;
  border: 1px solid rgba($color-light, 0.5);
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;

  .filter-title {
    font-family: $font-redhat-display;
    font-size: $fs-md;
    font-weight: 500;
    color: $color-light;
    margin-bottom: $margin-lg;
  }
  .filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .filter-listitem {
      font-family: $font-redhat-display;
      font-size: $fs-sm;
      font-weight: 400;
      margin-bottom: $margin-md;
      .filter-toggle {
        text-decoration: none;
        color: $color-light;
        &:hover {
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
    }
  }
}



.filter-list li {
  font-family: $font-redhat-display;
  font-size: $fs-sm;
  font-weight: 400;
  margin-bottom: $margin-md;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.filter-toggle {
  color: white;
}
.filter-active {
  font-family: $font-redhat-display;
  font-size: $fs-sm;
  font-weight: 400;
  margin-bottom: $margin-lg;
  list-style-type: none;
  color: red;
}


// Productkaarten

.product-list {
  width: 75%;
  padding-left: $padding-sm;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: scroll;
  .product-card {
    min-height: 460px;
    max-height: 460px;
    background-color: rgba($color-darkest, 0.9);
    border: 1px solid rgba($color-light, 0.1);
    padding-bottom: $padding-xs;
    border-radius: 2px;
    text-align: start;
    flex: 0 0 calc(33.3333% - 8px);
    &:hover {
      border: 1px solid rgba($color-light, 0.5);
    }
    img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    .card-info {
      @include flexlayout();
      justify-content: space-between;
      padding: 0 $padding-sm;
      .card-txt {
        flex-direction: column;
        .product-name {
          font-family: $font-redhat-display;
          font-size: 1.4rem;
          font-weight: 600;
          color: $color-light;
          margin-top: $margin-xs;
        }
        .product-price {
          font-family: $font-redhat-display;
          font-size: $fs-sm;
          font-weight: 500;
          color: $color-light;
          margin-bottom: $margin-xs;
        }
      }
      .details-button {
        font-family: $font-redhat-display;
        font-size: $fs-sm;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-darkest;
        background-color: $color-light;
        border: 1px solid $color-white;
        padding: $padding-xs $padding-sm;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        transition: all 0.7s;
        &:hover {
          color: $color-light;
          background-color: transparentize($color-darkest, .5);
          border: 1px solid $color-white;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.product-list-row {
  width: 100%;
  padding-left: $padding-sm;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  gap: 1rem;
  align-items: flex-start;
  overflow-x: scroll;
  .product-card {
    width: 30%;
    height: auto;
    background-color: rgba($color-darkest, 0.9);
    border: 1px solid rgba($color-light, 0.1);
    padding-bottom: $padding-xs;
    border-radius: 2px;
    text-align: start;
    &:hover {
      border: 1px solid rgba($color-light, 0.5);
    }
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    .card-info {
      @include flexlayout();
      justify-content: space-between;
      padding: 0 $padding-sm;
      .card-txt {
        flex-direction: column;
        .product-name {
          font-family: $font-redhat-display;
          font-size: 1.4rem;
          font-weight: 600;
          color: $color-light;
          margin-top: $margin-xs;
        }
        .product-price {
          font-family: $font-redhat-display;
          font-size: $fs-sm;
          font-weight: 500;
          color: $color-light;
          margin-bottom: $margin-xs;
        }
      }
      .details-button {
        font-family: $font-redhat-display;
        font-size: $fs-sm;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-darkest;
        background-color: $color-light;
        border: 1px solid $color-white;
        padding: $padding-xs $padding-sm;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        transition: all 0.7s;
        &:hover {
          color: $color-light;
          background-color: transparentize($color-darkest, .5);
          border: 1px solid $color-white;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.products-box {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-sub-small {
  font-family: $font-redhat-display;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  color: hotpink;
  margin-bottom: $margin-xs;
  padding: 0 $padding-sm;
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  justify-content: center;
  flex-grow: 3;
  font-family: $font-redhat-display;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: $padding-sm;
  margin-top: $margin-md;
  margin-bottom: $margin-md;

  .pagination-link {
    margin: 0 16px;
    padding: 8px 16px;
    background-color: $color-darkest !important;
    color: $color-light !important;
    border: none !important;
    border-radius: 2px;
    text-decoration: none !important;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #555;
    }

    &.active {
      background-color: $color-light !important;
      color: $color-darkest !important;
    }
  }
}

.pagination-warning {
  color: $color-light !important;
  text-align: center;
  padding: $padding-md;
}

// ON SMALLER SCREENS:

@media (max-width: $screen-md) {
  .products-wrapper {
    flex-direction: column;
    .filter-menu {
      flex-direction: row;
      width: 100%;
      height: 80px;
      padding: 2px;
      border: none;
      border-radius: 1px;
      overflow: visible;
      .filter-title {
        display: none;
        font-family: $font-redhat-display;
        font-size: $fs-sm;
        font-weight: 500;
        color: $color-light;
      }
      .filter-list {
        @include flexlayout();
        margin: 0 $margin-md;
        justify-content: space-between;
        list-style: none;
        .filter-listitem {
          font-family: $font-redhat-display;
          font-size: $fs-sm;
          font-weight: 400;
          margin: $margin-sm 0;
          .filter-toggle {
            text-decoration: none;
            color: $color-light;
            &:hover {
              font-weight: 500;
              letter-spacing: 1px;
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
  .product-list {
    margin-top: 2rem;
    padding: 0;
    width: 100%; //Volle breedte op klein scherm.
  }
  .filter-listitem {
    display: block;
  }
  .product-card {
    flex: 1 1 100%; //Volle breedte op klein scherm.
  }
}